POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=blog-init
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_CONFIG=sslmode=disable TimeZone=Asia/Shanghai

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_MANAGEMENT_PORT=15672

BLOG_RPC_PORT=9999
BLOG_RPC_ENDPOINT=blog-rpc:9999

ADMIN_API_PORT=9091
ADMIN_API_DEVSERVER_PORT=6061

QINIU_ZONE=
QINIU_ENDPOINT=
QINIU_ACCESS_KEY_ID=
QINIU_ACCESS_KEY_SECRET=
QINIU_BUCKET_NAME=
QINIU_BUCKET_URL=

EMAIL_HOST=smtp.qq.com
EMAIL_PORT=465
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_NICKNAME=Yahei
EMAIL_BCC=

BLOG_WEB_GITHUB_CLIENT_ID=
BLOG_WEB_GITHUB_CLIENT_SECRET=
BLOG_WEB_GITHUB_REDIRECT_URI=http://127.0.0.1:9420/oauth/login/github

ADMIN_WEB_GITHUB_CLIENT_ID=
ADMIN_WEB_GITHUB_CLIENT_SECRET=
ADMIN_WEB_GITHUB_REDIRECT_URI=http://127.0.0.1:9420/oauth/login/github
